.blockquote-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 221px;
  margin: 47px auto;
  position: relative;

  @media(min-width: 1024px) {
    margin: 87px auto;
    width: 800px;
  }

  .blockquote-bg {
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;

    @media(min-width: 1024px) {
      height: 221px;
      width: 220px;
    }
  }
}

.blockquote {
  color: var(--black);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
  text-align: center;

  @media(min-width: 1024px) {
    font-size: 21px;
    line-height: 35px;
  }
}

.cite {
  color: var(--dark);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  @media(min-width: 1024px) {
    font-size: 19px;
    line-height: 25px;
  }
}
