.shop {
  display: flex;
  flex-direction: column;
  margin: 87px auto;

  @media(min-width: 1024px) {
    width: 1024px;
  }

  &__title {
    color: var(--dark);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 28px;

    @media(min-width: 768px) {
      font-size: 28px;
      line-height: 30px;
    }
  }

  &__btn {
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  &-feature {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 48px;

    @media(min-width: 1024px) {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 30px;
    }
  }

  &-feature__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    @media(min-width: 1024px) {
      margin-top: 0;
      width: 48%;
    }
  }

  &-feature__img {
    margin-top: 30px;
    position: relative;
    z-index: 2;

    @media(min-width: 1024px) {
      margin-top: 0;
      width: 48%;
    }
  }

  &-feature__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;

    @media(min-width: 768px) {
      font-size: 36px;
      line-height: 40px;
    }
  }

  &-feature__desc {
    color: #6D7278;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px;
  }
}

.shop-feature {

  .shop-feature__img {
    padding: 50px 50px 50px 0;
    text-align: right;

    img {
      min-width: 363px;
    }
  }

  .shop-feature__img::before {
    background: var(--light-pink);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    z-index: -1;

    @media(min-width: 1024px) {
      width: 260px;
    }
  }
}

.shop-feature:nth-child(2n) {

  @media(min-width: 1024px) {
    flex-direction: row-reverse;
  }

  .shop-feature__img {
    padding: 50px 0 50px 50px;
    text-align: left;

    @media(min-width: 1024px) {
      padding: 50px 0 50px 100px;
    }

    img {
      min-width: 363px;
    }
  }

  .shop-feature__img::before {
    background: var(--light-pink);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    z-index: -1;

    @media(min-width: 1024px) {
      width: 260px;
    }
  }
}
