<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <ul class="feature-list">
        <li class="feature-list__item">
          <img src="img/svg/vpps.svg" alt="vpps">
        </li>
        <li class="feature-list__item">
          <img src="img/svg/visa.svg" alt="visa">
        </li>
        <li class="feature-list__item">
          <img src="img/svg/mastercard.svg" alt="mastercard">
        </li>
        <li class="feature-list__item">
          <img src="img/svg/klarna.svg" alt="klarna">
        </li>
        <li class="feature-list__item">Bedriftsfaktura på e-post og EHF</li>
      </ul>
      <div class="copyright">
        All rights reserved Cake it easy AS, 2022
      </div>
    </div>
  </div>
</footer>
