<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <img src="img/svg/logo.svg" alt="logo" class="header-logo">
      <div class="is-mob">
        <ul class="header-list">
          <li class="header-list__item">
            <svg class="header-list__icon">
              <use xlink:href="img/sprite.svg#cake"></use>
            </svg>
            <span>Order from local bakeries</span>
          </li>
          <li class="header-list__item">
            <svg class="header-list__icon">
              <use xlink:href="img/sprite.svg#currency"></use>
            </svg>
            <span>Same price - no extra cost</span>
          </li>
          <li class="header-list__item">
            <svg class="header-list__icon">
              <use xlink:href="img/sprite.svg#stars"></use>
            </svg>
            <span>100.000 happy customers</span>
          </li>
        </ul>
        <nav class="header-nav">
          <ul class="nav-list">
            <li class="nav-list__item">
              <a href="" class="nav-list__link">How it works</a>
            </li>

            <li class="nav-list__item">
              <div class="dropdown">
                <span class="nav-list__link">For businesses</span>
                <div class="down"></div>
              </div>
              <ul class="sub-menu">
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="">SubMenu 1</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="">SubMenu 2</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="">SubMenu 3</a>
                </li>
              </ul>

            </li>
          </ul>
        </nav>
        <a href="" class="header-btn btn btn--pink">Go to shop</a>
      </div>
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
